* { margin: 0; padding: 0; }

body { background-color: #ffe8d6; }

.linea-color { background-image: -webkit-gradient(linear, left top, right top, from(red), color-stop(#00b4d8), color-stop(orange), to(green)); background-image: linear-gradient(to right, red, #00b4d8, orange, green); height: 5px; }

header { background-color: black; }

.fondo { color: white; padding-left: 40px; -ms-flex-line-pack: center; align-content: center; text-decoration: none; font-size: x-large; }

.fondo:hover { font-weight: bold; color: white; }

.desplegable { background-color: #ffe8d6; font-style: oblique; }

.color-texto, .nuetras-marcas { color: black; margin: 2px; border-radius: 50%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: all 2s; transition: all 2s; }

.color-texto:hover, .nuetras-marcas:hover { color: black; margin: 2px; background-color: #fbc4ab; -webkit-transform: translate(2px, 5px); transform: translate(2px, 5px); }

/*extend*/
.nuetras-marcas { border-radius: 0; -webkit-transition: none; transition: none; }

/*maps*/
.btn-construccion { background-color: red; }

.btn-maquinaria { background-color: #00b4d8; }

.btn-decoracion { background-color: orange; }

.btn-textil { background-color: green; }

/*-----------*/
.boton { color: black; width: 150px; text-decoration: none; text-align: center; font-weight: bold; border-radius: 3px; margin: 5px; padding: 5px; }

.boton:hover { font-weight: bold; color: white; }

.banner { width: 100%; padding-bottom: 20px; }

.local, .local-deco { border-radius: 50%; }

/*extend*/
.local-deco { width: 300px; height: 200px; }

/*-------*/
.card { display: -ms-grid; display: grid; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-left: 1px; background-color: #ffe8d6; -webkit-transition: all 2s; transition: all 2s; }

.card-animacion { margin-left: 1px; }

.card-animacion:hover { background-color: #fbc4ab; color: black; -webkit-transform: translatey(2px); transform: translatey(2px); }

/*mixin*/
.whatsapp { width: 50px; height: 50px; right: 50px; bottom: 50px; position: fixed; z-index: 2; }

/*-------------*/
.galeria { width: 100%; height: 250px; padding: 25px; }

.logo { width: 130px; height: 50px; -webkit-animation-name: logo-ga; animation-name: logo-ga; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; -webkit-animation-duration: 3s; animation-duration: 3s; -webkit-animation-delay: 1s; animation-delay: 1s; }

@-webkit-keyframes logo-ga { from { width: 150px; } }

@keyframes logo-ga { from { width: 150px; } }

.sub-logo { width: 130px; height: 50px; }

.altura { width: 100%; height: 600px; }

.pie-pagina { width: auto; background-color: black; }

.pie-pagina .grupo-1 { width: auto; margin: auto; display: -ms-grid; display: grid; -ms-grid-columns: auto auto; grid-template-columns: auto auto; grid-gap: 30px; }

.pie-pagina .grupo-1 .box .figure { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.pie-pagina .grupo-1 .box h2 { color: #fff; margin-bottom: 25px; font-size: 20px; }

.pie-pagina .grupo-1 .red-social { text-decoration: none; width: 45px; height: 45px; line-height: 45px; color: #fff; margin-right: 20px; background-color: #0d2033; text-align: center; }

.pie-pagina .grupo-1 .red-social a:hover { color: aqua; }

.pie-pagina .grupo-2 { text-align: center; color: #fff; }

.pie-pagina .grupo-2 small { font-size: 15px; }

@media screen and (max-width: 800px) { .pie-pagina .grupo-1 { width: auto; -ms-grid-columns: auto; grid-template-columns: auto; grid-gap: 30px; padding: 35px 0px; }
  .pie-pagina .grupo-1 .box figure { width: auto; } }
/*# sourceMappingURL=estilos.css.map */