@import "estructura";

$color-fondo:black;
$color-pagina:#ffe8d6;

.linea-color
{
    background-image: linear-gradient(to right, red ,#00b4d8, orange, green); 
    height:5px ;}


header{
    background-color: $color-fondo;}

.fondo{    
    color: white;
    padding-left: 40px;
    align-content: center;
    text-decoration: none;
    &:hover{font-weight: bold; color: white;}}

.desplegable{
    background-color: $color-pagina;
    font-style: oblique;
     }
  .color-texto{
    color:black;
    margin: 2px ;
    border-radius: 50%;
    align-items: center;
    transition: all 2s;
  }
  .color-texto:hover{
    color:black;
    margin: 2px ;
    background-color: #fbc4ab;
    transform: translate(2px,30px);
  
  }
  
  .local{
    border-radius:50% ;
  }
  .card{
    display: grid;
    justify-content: space-evenly;
    margin-left: 1px;
    background-color: $color-pagina; 
    transition: all 2s;
  }
  
  
  .card-animacion{
    margin-left: 1px;
    }
    .card-animacion:hover{
        background-color: #fbc4ab;
        color:black;
        transform: translatey(2px);
     }
  
  .whatsapp{
    position: fixed;
    bottom:50px;
    right:50px;
    width:50px;
    height:50px;
    z-index:2;}
  
    .galeria{
        width: 100%;
        height:250px;
        padding: 25px;
    }
  
  footer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px;
    justify-items:center ;
  }
  
  .logo{
    width:130px; 
    height:50px;
    animation-name:logo-ga;
    animation-iteration-count:1;
    animation-timing-function:ease-in;
    animation-duration: 3s;
    animation-delay: 1s ;
  }
  @keyframes logo-ga{
    from{width:150px;}}
  
    .sub-logo{
        width:130px; 
        height:50px;}
     
  .altura {
    width: 100%;
    height: 600px;
  }
  