@import "estructura";
@import "variables";
@import "logos";

.linea-color
{
    background-image: $linea-colores; 
    height:5px ;}


header{
    background-color: $color-fondo;}

.fondo{    
    color: white;
    padding-left: 40px;
    align-content: center;
    text-decoration: none;
    font-size:x-large;
    &:hover{font-weight: bold; color: white;}}

.desplegable{
    background-color: $color-pagina;
    font-style: oblique;
     }
.color-texto{
    color:black;
    margin: 2px ;
    border-radius: 50%;
    align-items: center;
    transition: all 2s;
  }
.color-texto:hover{
    color:black;
    margin: 2px ;
    background-color: #fbc4ab;
    transform: translate(2px,5px);
  
  }

  /*extend*/
.nuetras-marcas{

  @extend.color-texto;
  border-radius:0;
  transition: none;
}

/*maps*/
 $areas:(construccion:red,maquinaria:#00b4d8,decoracion:orange,textil:green);
 $colores:(red,#00b4d8,orange,green);


@each $clave,$valor in $areas {
  .btn-#{$clave}{
    background-color: $valor;
  }
}
/*-----------*/
.boton{
  color: $color-texto;
  width: $tamano;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  &:hover{font-weight: bold; color: white;}
}

.banner{
    width: 100%;
    padding-bottom:20px;
  }
.local{
    border-radius:50% ;}

/*extend*/
.local-deco{
   @extend.local;
   width: 300px;
   height: 200px;
}
/*-------*/
.card{
    display: grid;
    justify-content: center;
    margin-left: 1px;
    background-color: $color-pagina; 
    transition: all 2s;
  }
.card-animacion{
    margin-left: 1px;
    }
.card-animacion:hover{
        background-color: #fbc4ab;
        color:black;
        transform: translatey(2px);
     }
       /*mixin*/

@mixin btn-wasp ($width,$height,$right,$bottom){

      width: $width;
      height:$height;
      right:$right;
      bottom:$bottom;
    }
.whatsapp{
     @include btn-wasp(50px,50px,50px,50px);
    position: fixed;
    z-index:2;
  }
  /*-------------*/
.galeria{
        width: 100%;
        height:250px;
        padding: 25px;
    }
  
 
.logo{
    width:$logos-ancho; 
    height:$logos-alto;
    animation-name:logo-ga;
    animation-iteration-count:1;
    animation-timing-function:ease-in;
    animation-duration: 3s;
    animation-delay: 1s ;
  }
@keyframes logo-ga{
    from{width:150px;}}
  
.sub-logo{
        width:$logos-ancho; 
        height:$logos-alto;}
     
.altura {
    width: 100%;
    height: 600px;
  }


  .pie-pagina{
    width: auto;
    background-color:black;
}
.pie-pagina .grupo-1{
    width:auto;
    margin: auto;
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:30px;
  
}
.pie-pagina .grupo-1 .box .figure{
    display: flex;
    justify-content: start;
    align-items: center;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .red-social{
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 20px;
    background-color: #0d2033;
    text-align: center;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width:auto;
        grid-template-columns:auto;
        grid-gap:30px;
        padding: 35px 0px;
    }
    .pie-pagina .grupo-1 .box figure{
      width: auto;
    }
}
  