
*{
    margin:0;
    padding:0;   
}
body{
    background-color: #ffe8d6;
}

.linea-color
{
    background-image: linear-gradient(to right, red ,#00b4d8, orange, green); 
    height:5px ;
}

.fondo{
    background-color: black;
    font-weight: bold;
}

.color-texto{
    color:black;
    margin: 2px ;
    transition: all 2s;
}
.color-texto:hover{
    color:black;
    margin: 2px ;
    background-color: #e6ccb2;
    transform: translate(2px,30px);

}

.local{
    border-radius:50% ;
}
.card{
    display: grid;
    justify-content: space-evenly;
    margin-left: 1px;
    background-color: #ffe8d6; 
    transition: all 2s;
}


.card-animacion{
    display: grid;
    justify-content: space-evenly;
    margin-left: 1px;
    background-color: #ffe8d6; 
    }
    .card-animacion:hover{
        background-color: black;
        color: white;
        transform: translatey(2px);
     }

.whatsapp{
    position: fixed;
    bottom:50px;
    right:50px;
    width:50px;
    height:50px;
    z-index:2;
}
footer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px;
    justify-items:center ;
}

.logo{
    width:130px; 
    height:50px;
    animation-name:logo-ga;
    animation-iteration-count:2;
    animation-timing-function:ease-in;
    animation-duration: 5s;
    animation-delay: 3s ;
}
@keyframes logo-ga{
    from{width:250px;}
     
}